.bz_cta_wrap {
    border-radius: 1rem;
    padding: 9.5rem 10rem;
    z-index: 1;

    @media #{$medium_device} {
        border-radius: 1rem;
        padding: 2.5rem 4rem;
    }

    @media #{$tab} {
        padding: 4rem 10rem;
    }

    @media #{$mobile} {
        padding: 2rem 2rem;
    }

    &.cta_bg {
        background: $linear_gradient;
    }
}

.bz_cta {
    &__title {
        color: $white;
        margin-bottom: 2rem;

        @media #{$mobile}{
            font-size: 3rem;
        }
    }

    &__btn {
        @media #{$tab} {
            text-align: center !important;
        }
        .box_btn.xl_btn {
            @media #{$mobile}{
                padding: 2.2rem 5rem;
            }
        }
    }

    &__ {
        font-size: 3rem;
    }
}

.cta_shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 37%;
    @media #{$big_device}{
        width: 35%;
    }
    @media #{$extra_big_screen}{
        width: 35%;
    }
    @media #{$medium_device} {
        width: 28%;
    }
}