.footer_bg{
    background: #333;
    background: url(../img/footer/footer_bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    &.footer_height{
        min-height: 77rem;

        @media #{$mobile}{
            min-height: 65rem;
        }
    }
}

.bz_subscribe{
    padding-top: 7rem;
}