.footer_bg{
    background: #333;
    background: url(/img/footer/footer_bg-1.png);
    &.footer_height{
        min-height: 77rem;

        @media #{$mobile}{
            min-height: 65rem;
        }
    }
}

.bz_subscribe{
    padding-top: 7rem;
}